html,body{
  margin:0;
  width:100%;
  height:auto;
  font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
  font-size:15px;
  color:#696969;
}

@media screen and ( max-width:767px ){
  html,body{
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
  }
}

#wrapper{
  margin:0;
  width:100%;
  height:auto;
}

#TopImage{
  margin:0;
  width:100%;
  height:100vh;
  background-image:url(R1030627.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
  position:relative;
}

#shadow{
  width:100%;
  margin:0;
  height:100vh;
  background-color:rgba(0,0,0,0.5);
  z-index: 3;
}

#header{
  width:100%;
  height:70px;
  position:absolute;
  top:0;
  z-index:999;
  transition:all 0.5s;
}

@media screen and ( max-width:767px ){
  #header{
    display:none;
  }
}

#header.scroll{
  position:fixed;
  background-color:#333;
}

@media screen and ( max-width:767px ){
  #header.scroll{
    display:none;
  }
}

#headerwidth{
  width:90%;
  height:70px;
  margin:0 auto;
}

@media screen and ( max-width:767px ){
  #headerwidth{
    display:none;
  }
}

.logo{
  display: block;
  width:150px;
  height:70px;
  float:left;
  text-decoration:none;
  transition:all 0.5s;
}

@media screen and ( max-width:767px ){
  float:none;
}

.logo > img{
  display: block;
  width:auto;
  height:30px;
  margin:20px auto;
  padding:0;
}

.nav{
  display: block;
  float:right;
  width:auto;
  height:70px;
  margin:0;
  padding:0;
  list-style:none;
}

.slicknav_nav {
 display:none;
}

@media screen and ( max-width:767px ){
  .nav{
    display:none;
  }
  .slicknav_nav {
    display:block;
  }
}

.nav > li{
  float:left;
  height:70px;
  margin:0 20px;
}

.inside{
  display: block;
  text-decoration:none;
  color:white;
  padding:28.5px 0;
  font-weight:400;
  font-size:13px;
  letter-spacing:0.65px;
  line-height: 13px;
  transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
}

.inside:hover{
  color:#f50;
}

.outside{
  display: block;
  width:50px;
  text-decoration:none;
  text-align: center;
  color:#f50;
  margin:20.5px 0;
  padding:7px 10px;
  border:solid 1px #f50;
  border-radius:3px;
  font-weight:400;
  font-size:13px;
  letter-spacing:0.65px;
  line-height: 13px;
  transition:all 0.3s;
}

.outside:hover{
  color:white;
  background-color:#f50;
}

#title{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto auto;
  width:850px;
  height:150px;
  z-index:1;
}

@media screen and ( max-width:767px ){
  #title{
    width:60%;
  }
}

#title > h2{
  text-align:center;
  margin:0;
  padding:0;
  color:white;
  font-size:45px;
  font-weight:400;
  letter-spacing:1px;
}

@media screen and ( max-width:767px ){
  #title > h2{
    font-size:20px;
  }
}

#title > h6{
  text-align:center;
  margin:0;
  padding:0;
  color:silver;
  font-size:18px;
  font-weight:400;
  letter-spacing:1px;
}

@media screen and ( max-width:767px ){
  #title > h6{
    font-size:10px;
  }
}

.line{
  width:100px;
  margin:40px auto 30px auto;
  border-bottom:solid 2px #f50;
}

@media screen and ( max-width:767px ){
  .line{
    width:50px;
    margin:20px auto;
  }
}

#title > a{
  display: block;
  width:220px;
  margin:40px auto;
  padding:10px 0;
  text-decoration:none;
  text-align:center;
  color:white;
  border:solid 2px white;
  font-size:20px;
  letter-spacing:0.1em;
  transition:all 0.5s;
}

@media screen and ( max-width:767px ){
  #title > a{
    width:80%;
    font-size:17px;
    margin:20px auto;
  }
}

#title > a:hover{
  background-color:#f50;
  border:solid 2px #f50;
  border-radius:10px;
}

.ContentWhite{
  width:100%;
  height:auto;
  margin:0;
  padding:100px 0;
  background-color:white;
  border-bottom:1px solid #E5EAEC;
}

@media screen and ( max-width:767px ){
  .ContentWhite{
    padding:30px 0;
  }
}

.ContentSmoke{
  width:100%;
  height:auto;
  margin:0;
  padding:100px 0;
  background-color:whitesmoke;
  border-bottom:1px solid #E5EAEC;
}

@media screen and ( max-width:767px ){
  .ContentSmoke{
    padding:30px 0;
  }
}

.heading{
  color:#f50;
  display: block;
  width:500px;
  margin:0 auto;
  font-size:30px;
  text-align:center;
  font-weight:400;
  letter-spacing:1px;
}

@media screen and ( max-width:767px ){
  .heading{
    font-size:20px;
    width:auto;
  }
}

.InnerHeading{
  width:700px;
  margin:40px auto;
  color:#f50;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  font-size:15px;
  text-align:center;
}

@media screen and ( max-width:767px ){
  .InnerHeading{
    width:80%;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
  }
}

.content-text{
  width:640px;
  margin:40px auto 0 auto;
  color:#646464;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  font-size:14px;
}

@media screen and ( max-width:767px ){
  .content-text{
    width:80%;
    color:black;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
  }
}

.work-heading{
  color:#f50;
  display: block;
  width:100%;
  margin:0;
  font-size:30px;
  font-weight:400;
  letter-spacing:1px;
}

@media screen and ( max-width:767px ){
  .work-heading{
    font-size:20px;
    text-align:center;
  }
}

.work-text{
  width:100%;
  margin:40px auto;
  color:#646464;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  font-size:14px;
}

@media screen and ( max-width:767px ){
  .work-text{
    margin:30px auto;
    font-size:15px;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    color:black;
  }
}

#profile{
  width:200px;
  height:auto;
  margin:60px auto;
}

.cap{
  display:block;
  width:200px;
  height:auto;
  margin:0 auto;
}

.glass{
  display:block;
  width:180px;
  height:auto;
  margin:0 auto;
}

.article{
  width:1200px;
  height:391px;
  margin:30px auto;
}

@media screen and ( max-width:767px ){
  .article{
    width:100%;
    height:auto;
  }
}

#ContentLeft{
  width:440px;
  margin:0;
  padding:30px 60px 30px 0;
  float:left;
}

@media screen and ( max-width:767px ){
  #ContentLeft{
    float:none;
    width:80%;
    margin:30px auto;
    padding:0;
  }
}

.work{
  display: block;
  float:right;
  text-decoration:none;
  margin:0;
  width:700px;
  height:auto;
}

@media screen and ( max-width:767px ){
  .work{
    float:none;
    width:80%;
    margin:30px auto;
    padding:0;
  }
}

.work > img{
  width:100%;
  margin:0;
  padding:0;
  transition:all 0.3s;
}

.work:hover img {
  /*
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)"; */
  box-shadow:0 11px 18px rgba(0,0,0,0.6)
}

@media screen and ( max-width:767px ){
  .work:hover img{
    box-shadow:none;
  }
}

#skill{
  display: block;
  width:900px;
  height:360px;
  margin:30px auto 0 auto;
  padding:0;
}

@media screen and ( max-width:767px ){
  #skill{
    width:100%;
    height:auto;
    margin:0;
  }
}

.skill-box{
  display: block;
  width:240px;
  height:auto;
  margin:0 30px;
  float:left;
}

@media screen and ( max-width:767px ){
  .skill-box{
    width:80%;
    margin:20px auto;
    float:none;
  }
}

.skill-box > img{
  display: block;
  width:150px;
  height:auto;
  margin:30px auto;
}

@media screen and ( max-width:767px ){
  .skill-box > img{
    width:50%;
  }
}

.skill-heading{
  margin-bottom:20px;
  color:rgb(68, 68, 68);
  font-size:20px;
  padding:0;
  text-align: center;
}

.skill-text{
  margin:0;
  padding:0;
  color:#646464;
  font-size:13px;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  text-align: center;
}

@media screen and ( max-width:767px ){
  .skill-text{
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
  }
}

#footer{
  width:100%;
  height:auto;
  margin:0;
  padding:0;
}

#footer-top{
  width:100%;
  height:auto;
  background-color:#f50;
  margin:0;
  padding:50px 0;
}

#footer-bottom{
  width:100%;
  height:70px;
  padding:0;
  background-color:white;
  margin:0;
}

.footer-heading{
  color:white;
  display: block;
  width:500px;
  margin:0 auto;
  font-size:30px;
  text-align:center;
  font-weight:400;
  letter-spacing:1px;
}

@media screen and ( max-width:767px ){
  .footer-heading{
    width:auto;
    font-size:20px;
  }
}

.footer-text{
  width:640px;
  margin:40px auto 0 auto;
  color:white;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  font-size:14px;
  text-align:center;
}

@media screen and ( max-width:767px ){
  .footer-text{
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
    width:60%;
    margin:20px auto;
  }
}

.fot-btn{
  display: block;
  width:220px;
  margin:40px auto 0 auto;
  padding:10px 0;
  text-decoration:none;
  text-align:center;
  color:white;
  border:solid 2px white;
  border-radius:30px;
  font-size:20px;
  letter-spacing:0.1em;
  transition:all 0.5s;
}

.fot-btn:hover{
  color:#f50;
  background-color:white;
}

.ft-bt-text{
  display: block;
  width:auto;
  margin:0;
  padding:21px 0;
  color:#646464;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic;
  font-size:14px;
  text-align: center;
}

@media screen and ( max-width:767px ){
  .ft-bt-text{
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
  }
}
