html,body{
  width:100%;
  min-height:100%;
  margin:0;
  font-family:游ゴシック体, 'Yu Gothic', YuGothic ;
  font-size:15px;
  color:#696969;
  background-color:whitesmoke;
}

@media screen and ( max-width:700px ){
  html,body{
    font-family:sans-serif;
  }
}

#wrapper{
  width:100%;
  height:auto;
  margin:0;
}

#contentA{
  margin:0;
  width:100%;
  height:100vh;
  background-image:url(R1030627.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
  position:relative;
}

#shadow{
  width:100%;
  margin:0;
  height:100vh;
  background-color:rgba(0,0,0,0.7);
  z-index: 3;
}

#header{
  width:100%;
  height:60px;
  background-color:black;
  opacity:0.9;
  position:fixed;
  top:0;
  z-index:999;
}

#headerwidth{
  width:1040px;
  height:60px;
  margin:0 auto;
}

@media screen and ( max-width:700px ){
  #headerwidth{
    width:100%;
  }
}

.logo{
  display:block;
  color:silver;
  margin:0;
  padding:17px 0;
  float:left;
  font-size:20px;
  font-family:'PT Sans';
  font-weight:500;
  letter-spacing:1px;
  text-decoration:none;
  transition:all 0.3s;
}

@media screen and ( max-width:700px ){
  .logo{
    width:100%;
    margin:0;
    padding:14px 0;
    text-align:center;
    float:none;
  }
}

.logo:hover{
  color:white;
}

.nav{
  float:right;
  display: block;
  margin:0;
  padding:0;
  height:60px;
  list-style:none;
}

@media screen and ( max-width:700px ){
  .nav{
    display:none;
  }
}

.nav > li{
  float:left;
  height:60px;
  margin:0 20px;
}

.nav > li > a{
  display: block;
  text-decoration:none;
  color:silver;
  padding:20px 0;
  font-family:'PT Sans';
  font-weight:500;
  font-size:14px;
  letter-spacing:1px;
  transition:all 0.3s;
}

.nav > li > a:hover{
  color:white;
}

#title{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  margin:auto auto;
  font-family:'PT Sans';
  width:850px;
  height:91px;
  z-index:1;
}

@media screen and ( max-width:700px ){
  #title{
    width:60%;
    height:55%;
  }
}

#title > h2{
  text-align:center;
  margin:0;
  padding:0;
  color:white;
  font-size:50px;
  font-weight:500;
  letter-spacing:1px;
}

@media screen and ( max-width:700px ){
  #title > h2{
    font-size:38px;
    padding-bottom:15px;
  }
}

#title > h6{
  text-align:center;
  margin:0;
  padding:0;
  color:silver;
  font-family: 'Varela Round';
  font-size:16px;
  font-weight:500;
  letter-spacing:1px;
}

#title > p{
  width:350px;
  font-family:游ゴシック体, 'Yu Gothic', YuGothic ;
  font-size:14px;
  color:silver;
  margin:60px auto 0 auto;
}

#title > a{
  display: block;
  width:180px;
  margin:40px auto;
  padding:10px 0;
  text-decoration:none;
  text-align:center;
  color:#8B0000;
  background-color:white;
  opacity:0.6;
  border-radius:5px;
  font-family:'Varela Round';
  font-size:16px;
  letter-spacing:0.1em;
  transition:all 0.5s;
}

#title > a:hover{
  color:white;
  background-color:#8B0000;
}

#contentB{
  width:100%;
  height:150px;
  margin:0;
  padding:60px 0;
  background-color:whitesmoke;
  border-bottom:solid 1px #E5EAEC;
}

@media screen and ( max-width:700px ){
  #contentB{
    height:auto;
  }
}

.article{
  width:1040px;
  height:150px;
  margin:0 auto;
  padding:0;
}

@media screen and ( max-width:700px ){
  .article{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
  }
}

.article > img{
  width:150px;
  float:left;
}

@media screen and ( max-width:700px ){
  .article > img{
    width:60%;
    margin:0 20% 20px 20%;
    padding:0;
    float:none;
  }
}

.pr-p{
  width:860px;
  margin:0;
  padding:0 0 0 30px;
  float:left;
  font-size:15px;
  color:#696969;
}

@media screen and ( max-width:700px ){
  .pr-p{
    width:80%;
    margin:0 auto;
    padding:0 20px;
    float:none;
  }
}

.pr-p > strong{
  color:#8B0000;
}

@media screen and ( max-width:700px ){
  .pr-p > strong{
    padding-bottom:20px;
  }
}

.heading{
  color:#696969;
  margin:0;
  padding:0;
  font-family:'PT Sans';
  font-weight:500;
  letter-spacing:1px;
}

#contentC{
  width:100%;
  height:800px;
  margin:0;
  padding:60px 0;
  background-color:white;
  border-bottom:solid 1px #E5EAEC;
}

@media screen and ( max-width:700px ){
  #contentC{
    height:auto;
  }
}

.message-title{
  width:30%;
  margin:0;
  padding:379px 0;
  float:left;
  font-family:'PT sans';
  font-weight:500;
  letter-spacing:0.1em;
  color:#8B0000;
}

@media screen and ( max-width:700px ){
  .message-title{
    width:100%;
    margin:0;
    padding:0 0 20px 0;
    float:none;
    text-align:center;
  }
}

.message{
  width:70%;
  margin:0;
  padding:0;
  float:left;
  font-size:15px;
  color:#696969;
}

@media screen and ( max-width:700px ){
  .message{
    width:80%;
    margin:0 auto;
    padding:0 20px;
    float:none;
  }
}

#contentD{
  width:100%;
  height:600px;
  margin:0;
  padding:60px 0;
  background-color:whitesmoke;
  border-bottom:solid 1px #E5EAEC;
}

@media screen and ( max-width:700px ){
  #contentD{
    height:auto;
  }
}

#articleD{
  width:1100px;
  height:300px;
  margin:0 auto;
  padding:0;
}

@media screen and ( max-width:700px ){
  #articleD{
    width:100%;
    height:auto;
    margin:0;
    padding:20px 0;
  }
}

#articleD > h1{
  width:1040;
  margin:0 auto;
  padding:0 0 30px 0;
  font-family:'PT sans';
  font-weight:500;
  letter-spacing:0.1em;
  color:#8B0000;
  text-align:center;
}

@media screen and ( max-width:700px ){
  #articleD > h1{
    width:100%;
    margin:0;
    padding:0 0 20px 0;
  }
}

#articleD > p{
  width:700px;
  margin:0 auto;
  padding-bottom:30px;
  text-align:center;
}

@media screen and ( max-width:700px ){
  #articleD > p{
    width:80%;
    margin:0 auto;
    float:none;
  }
}

#articleD > p > strong{
  color:#8B0000;
}


.skill-box{
  width:306px;
  height:300px;
  margin:0;
  padding:0 30px;
  float:left;
  text-align: center;
}

@media screen and ( max-width:700px ){
  .skill-box{
    width:80%;
    margin:20px auto;
    padding:0;
    float:none;
    text-align:left;
  }
}

.skill-box > img{
  display: block;
  width:150px;
  margin:20px auto 40px auto;
}

@media screen and ( max-width:700px ){
  .skill-box > img{
    width:60%;
    margin:0 auto;
  }
}

#footer{
  width:100%;
  height:330px;
  margin:0;
  background-image:url(footer.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow:hidden;
}

@media screen and ( max-width:700px ){
  #footer{
    height:270px;
    background-image:none;
  }
}

#footer-top{
  width:100%;
  height:290px;
  margin:0;
  background-color:#8B0000;
  opacity:0.9;
}

@media screen and ( max-width:700px ){
  #footer-top{
    height:200px;
  }
}

#foonter-top-article{
  width:1040px;
  height:290px;
  margin:0 auto;
}

@media screen and ( max-width:700px ){
  #foonter-top-article{
    width:80%;
    margin:0 auto;
    height:200px;
  }
}

#footer-bottom-article{
  width:1040px;
  height:40px;
  margin:0 auto;
}

@media screen and ( max-width:700px ){
  #footer-bottom-article{
    width:100%;
    height:70px;
    margin:0;
  }
}

.footer-right{
  color:silver;
  margin:0;
  padding:11px 0;
  font-family:Quicksand;
  font-size:12px;
  letter-spacing:0.1em;
  float:right;
}

@media screen and ( max-width:700px ){
  .footer-right{
    width:80%;
    margin:0 auto;
    text-align:center;
    font-family:sans-serif;
    float:none;
  }
}

.footer-left{
  color:silver;
  margin:0;
  padding:11px 0;
  font-family:Quicksand;
  font-size:12px;
  letter-spacing:0.2em;
}

@media screen and ( max-width:700px ){
  .footer-left{
    display:none;
  }
}

.footer-boxA{
  width:50%;
  height:290px;
  margin:0;
  float:left;
}

@media screen and ( max-width:700px ){
  .footer-boxA{
    display:none;
  }
}

.footer-boxB{
  width:50%;
  height:290px;
  margin:0;
  float:left;
}

@media screen and ( max-width:700px ){
  .footer-boxB{
    width:100%;
    height:200px;
    float:none;
  }
}

.footer-boxA > p{
  color:white;
  margin:0;
  padding:0;
  font-size:14px;
}

.footer-boxB > p{
  color:white;
  margin:0;
  padding:0;
  font-size:14px;
}

.footer-heading{
  color:white;
  margin:0;
  padding:30px 0;
  font-family:'PT sans';
  font-weight:500;
  letter-spacing:0.1em;
}

.en{
  color:white;
  margin:0;
  padding:0;
  font-size:15px;
  font-family:游ゴシック体, 'Yu Gothic', YuGothic ;
  font-weight:500;
  letter-spacing:0.1em;
  color:white;
}

.en > a{
  text-decoration:none;
  padding:0 0 5px 0;
  color:white;
  border-bottom:solid 1px white;
}

#footer-bottom{
  width:100%;
  height:40px;
  margin:0;
  background-color:black;
  opacity:0.9;
}

@media screen and ( max-width:700px ){
  #footer-bottom{
    height:70px;
  }
}
